div#logo{background:url(phantasm.png) 15px no-repeat;height:200px;width:280px;position:absolute;top:0px;left:140px;z-index:2; animation:wobble 3s infinite; webkit-animation:wobble 3s infinite;}
	@keyframes progress {
		from {width:0%;}
		to {width: 100%;}
	}
	.imgs {
		margin-top: 70px;
		margin-left:0px;
		animation: fadeIn 2s;
	}
	.imgs img {
		border-radius: 400px;
		border:3px solid #FFF;
		box-shadow: 0  0 8.2px #FFF;
		margin-left:20px;
		
	}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sex {
0% {transform: skew(0deg);}
50% {transform: skew(10deg);}
100% {transform: skew(0deg);}
}

.yazi {
	margin-top:15px;
	color:#FFF;
	font-family: Arial;
	font-size:20px;
	width:800px;
	margin-left:-100px;
}

footer {
	position: fixed;
	bottom: 0;
  margin-bottom:10px;
	color:#FFF;
	font-family: sans-serif;
	text-align: center;
}

footer b {
	text-shadow: 0 0 2px #FFF;
}

font {
    color:#FFFFFF;
    font-size:13px;
}

addres {
   	margin-top:70px;
		margin-left:100px;
}